
@mixin sm{
    @media only screen and (min-width:640px){
        @content; 
    }
}
// we can understand that the above sm named mixin will be applied only if the screen width is equal to larger than 640px
@mixin md{
    @media only screen and (min-width:768px){
        @content;
    }
}
@mixin lg{
    @media only screen and (min-width:1024px){
        @content;
    }
}
@mixin xl{
    @media only screen and (min-width:1280px){
        @content;
    }
}
  
@mixin xxl{
    @media only screen and (min-width:1530px){
        @content;
    }
}

@mixin wllipsis($line:2){
    display: -webkit-box;
    -webkit-line-clamp:$line;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
